<main class="contenedor panel-administracion">
    <h1><%= nombrePagina%></h1>
    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class= 'btn btn-amarillo'>Nuevo Grupo</a>
        <a href="/nuevo-meeti" class= 'btn btn-azul'>Nuevo Meeti</a>
        <a href="/editar-perfil" class= 'btn btn-rosa'>Editar Perfil</a>
        <a href="/imagen-perfil" class= 'btn btn-amarillo'>Imagen Perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Proximos Meeti's</h2>
        <% if (meetis.length) { %>
            <ul>
                <% meetis.forEach(meeti =>{ %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es-us') %>
                            <p class="fecha"><%- moment(meeti.fecha + ' ' + meeti.hora).format('LLLL') %></p>
                            <a href="/meeti/<%- meeti.slug %>" target="_blank">
                                <h3><%- meeti.titulo %></h3>
                            </a>
                            <small><%- meeti.interesados.length %> asistentes</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editar-meeti/<%- meeti.id %>" class="btn btn-verde">Editar</a>
                            <a href="/asistentes-meeti/<%- meeti.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/eliminar-meeti/<%- meeti.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul>
        <% } else { %>
            <p>No tienes ningun Meeti</p>
        <% }  %>
    </div>
    
    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <% if (grupos.length) { %>
            <ul>
                <% grupos.forEach(grupo =>{ %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%- grupo.nombre %></h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editar-grupo/<%- grupo.id %>" class="btn btn-verde">Editar</a>
                            <a href="/editar-imagen-grupo/<%- grupo.id %>" class="btn btn-azul2">Imagen</a>
                            <a href="/eliminar-grupo/<%- grupo.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No tienes ningun Grupo</p>
        <% }  %>
    </div>
    <% if (meetisPasados.length) { %>
        <div class="seccion-admin">
            <h2>Meeti's Pasados</h2>
            <ul>
                <% meetisPasados.forEach(meeti =>{ %>
                    <li>
                        <div class="informacion-admin">
                            <% moment.locale('es-us') %>
                            <p class="fecha"><%- moment(meeti.fecha + ' ' + meeti.hora).format('LLLL') %></p>
                            <a href="/meeti/<%- meeti.slug %>" target="_blank">
                                <h3><%- meeti.titulo %></h3>
                            </a>
                            <small><%- meeti.interesados.length %> asistentes</small>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/editar-meeti/<%- meeti.id %>" class="btn btn-verde">Editar</a>
                            <a href="/asistentes-meeti/<%- meeti.id %>" class="btn btn-azul2">Asistentes</a>
                            <a href="/eliminar-meeti/<%- meeti.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }) %> 
            </ul>
        </div>
    <% } %>
</main>