<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%- meeti.titulo %></h1>
            <div class="info-autor">
                <div class="imagen">
                    <% if (meeti.usuario.imagen) { %>
                            <img src='/uploads/perfil/<%= meeti.usuario.imagen %>'>
                    <% }  %>
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/usuario/<%- meeti.usuario.id %>"><%- meeti.usuario.nombre %></a> Creador de:
                        <a href="/grupo/<%- meeti.grupo.id %>"><%- meeti.grupo.nombre %></a>
                        
                    
                    </p>
                </div>
            </div>   
        </div>
        <div class="pregunta-asistencia">
            
            <% if (locals.user.id) { %>
                <form action="/confirmar-asistencia/<%- meeti.slug %>" id="confirmar-asistencia">
                    <p>Asistiras?</p>
                    <% if (meeti.interesados.includes(locals.user.id)) { %> 
                        <input type="submit" class="btn btn-rojo" value= 'Cancelar' id="asistencia">
                    <% } else {  %>
                        <input type="submit" class="btn btn-azul" value= 'Si' id="asistencia">
                    <% }  %>
                </form>
            <% } else {  %>
                <p>Para confirmar tu aistencia </p>
                <a href="/iniciar-sesion" class="btn btn-azul">Inicia sesion</a>
            <% }  %>
        </div>
    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            
            <div class="descripcion">
                <% if (meeti.grupo.imagen) { %>
                    <img src="/uploads/grupos/<%= meeti.grupo.imagen %>">
                <% } else {  %>
                    <img src="/ing/meeti.jpg">
                <% }  %>
                <p><%- meeti.descripcion %></p>
            </div>
            
            <div class="asistentes">
                <div class="titulo">
                    <h3><%- meeti.interesados.length %>  Asistentes</h3>
                    <a href="/asistentes/<%- meeti.slug %>">Ver Todos</a>
                </div>
            </div>
            
            
            <div class="comentarios">
                <h2>Comentarios</h2>
                
                <% if (comentarios.length) { %>
                <% moment.locale('es-us') %>
                    <% comentarios.forEach(comentario =>{ %>
                        <div class="comentario">
                            <div class="imagen">
                                <% if (comentario.usuario.imagen) { %>
                                        <img src='/uploads/perfil/<%= meeti.usuario.imagen %>'>
                                <% }  %>    
                            </div>
                            <div class="texto">
                                <p>
                                    <%- comentario.mensaje %>
                                </p>
                                <p>
                                    Escrito por:
                                    <a href="/usuario/<%- comentario.usuario.id %>"><%- comentario.usuario.nombre %></a> 
                                </p>
                                <% if ((locals.user.id == comentario.usuario.id) || (locals.user.id == meeti.usuario.id)) { %>
                                <!--  <input type="button" value="Eliminar" class="btn btn-azul"/>   -->
                                <a class="btn btn-azul eliminar-comentario" href="/eliminar-comentario/<%- comentario.id %>">Eliminar</a>
                                <% }  %>
                                <p><%- moment(comentario.fecha).fromNow(); %></p>
                            </div>
                        </div>
                    <% }) %> 
                <% } else { %>
                    <p>Se el Primero en Comentar</p>
                <% }  %>
                
                
                <% if (locals.user.id) { %>
                    <form action="/meeti/<%- meeti.id %>"  class="default-form comentarios" method='POST'>
                        <legend>Agrega un comentario</legend>
                        <div class="campo">
                            <label>Comentario</label>
                            <textarea  name="mensaje"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" class="btn btn-rosa" value= 'Enviar' >
                        </div>
                    </form>
                <% } else { %>
                    <p>Para agregagr un comentario</p>
                    <a href="/iniciar-sesion" class="btn btn-azul">Inicia sesion</a>
                <% }  %>                

                
            </div>
            
        </div>
        <aside class="informacion">
            <div class="fecha">
                <% moment.locale('es-us') %>
                <p><%- moment(meeti.fecha + ' ' + meeti.hora).format('LLLL') %></p>
            </div>
            <div class="ubicacion">
                <p  ><%- meeti.direccion +', '+ meeti.ciudad + ', ' + meeti.estado + ', ' +  meeti.pais %> </p>
            </div>
            
            <input type="hidden" id="lat" value = '<%- meeti.ubicacion.coordinates[0] %>' readonly >
            <input type="hidden" id="lng" value = '<%- meeti.ubicacion.coordinates[1] %>' readonly >
            <input type="hidden" id="direccion" value = '<%- meeti.direccion +', '+ meeti.ciudad + ', ' + meeti.estado + ', ' +  meeti.pais %>' readonly >
            <div id="mapamitti"></div>
            
        </aside>
    </div>
</main>

