<main class='contenedor contenedor-formularios no-padding'>
    <h1><%= nombrePagina %></h1>
    <form class='default-form' method='POST' <%- locals.grupo ? "" : 'enctype="multipart/form-data"' %> >
        <div class='campo'>
            <label>Nombre</label>
            <input type='text' name='nombre' placeholder='Nombre Grupo' value = '<%- locals.grupo ? locals.grupo.nombre : "" %>'>
        </div>
        <div class='campo descripcion'>
            <label>Descripcion</label>
            <div class='contenedor-editor'>
                <input type='hidden' name='descripcion' id='x' value = '<%- locals.grupo ? locals.grupo.descripcion : "" %>'>
                <trix-editor input='x'></trix-editor>
            </div>
        </div>
        <div class='campo'>
            <label>Categoria</label>
            <select name="categoriaId">
                <option value="" selected disabled>-- Categoria --</option>
                <% if (categorias) { %>
                    <% categorias.forEach(categoria =>{ %>
                        <option value="<%- categoria.id %>" <%-(locals.grupo && (locals.grupo.categoriaId == categoria.id)) ? "selected" : "" %> >  <%-categoria.nombre %> </option>
                    <% }) %>
                <% } %>
            </select>
        </div>
        <% if (!locals.grupo) { %>
            <div class='campo'>
                <label>Imagen</label>
                <input type='file' name='imagen'>
            </div>
        <% } %>
        <div class='campo'>
            <label>Pagina</label>
            <input type='url' name='url' placeholder='Tu Pagina' value = '<%- locals.grupo ? locals.grupo.url : "" %>'>
        </div>
        <div class='campo enviar'>
               <input type= 'submit' value ='<%- locals.grupo ? "Actualizar Grupo" : "Crear Grupo" %>'  class= 'btn btn-rosa'> </input>
        </div>
    </form>
</main>
